# === Ansible Specifics ===
*.retry
.ansible/
# If you use vault, never commit the password file
.vault_pass
# Ignore local connection artifacts
facts.cache

# === Terraform / Terragrunt Specifics ===
.terraform/
.terragrunt-cache/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# === AWS / Environment Specifics ===
.aws/
.env
bin/
include/
lib/
# Ignore the local session manager logs if they generate locally
session-manager-plugin.log

# === OS/IDE Specifics ===
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
